@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --primary_text: hsla(0, 0%, 100%, 0.76);
  --primary_background: hsl(300, 7%, 12%);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--primary_background);
  color: var(--primary_text);
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 800;

  margin: 2rem;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100px;
  list-style-type: none;
}
