@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --text-primary: hsla(0, 0%, 100%, 0.76);
  --text-hover: hsl(0, 4%, 5%);
  --text-error: hsl(0, 68%, 38%);
  --background-primary: hsl(0, 4%, 5%);
  --border-glow: hsl(0, 19%, 92%, 0.1);
  --border-primary: hsla(0, 0%, 100%, 0.76);
  --btn-hover: hsla(0, 17%, 92%, 0.701);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto auto;
  
  
  background-color: var(--background-primary);
  color: var(--text-primary);
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  max-width: 100rem;
}

header{
  width: 50%;
  text-align: center;
  margin: 2rem;
  border: 1px solid var(--text-primary);
  border-radius: 1.5rem;
  box-shadow: 0 0 20px 10px var(--border-glow);
}

h1 {
  font-size: 1.5rem;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 800;
}

main {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-main.favourites{
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--text-primary);
  border-radius: 1.5rem;
  box-shadow: 0 0 15px 15px var(--border-glow);
  padding: 1.5rem;
}

.section-main.list{
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--text-primary);
  border-radius: 1.5rem;
  box-shadow: 0 0 15px 15px var(--border-glow);
  padding: 1.5rem;
  margin-top: 1rem;
}

h2 {
  padding-left: 1rem;
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-select-tokens {
  display: flex;
  justify-content: space-around;
  align-items: end;
  padding: 1rem;
}

.section-select-token {
  display: flex;
  flex-direction: column;
}

.btn-favourite{
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.icon-favourite {
  font-size: 1.5rem;
  color: var(--text-primary);
}


ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  font-size: inherit;
  padding: 1rem;
}

.list-favourites ul li {
  width: 25%;
  text-align: center;
}

select {
  font-size: inherit;
  padding: 0.5rem;
  color: var(--text-primary);
  text-align: center;
  background-color: var(--background-primary);
  border: 1px solid var(--border-primary);
  border-radius: 10px;
  box-shadow: inset 0 15px 15px var(--border-glow);
  margin-top: 1rem;
}

select:hover {
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}

label {
  font-size: inherit;
  text-transform: uppercase;
}

.btn-price {
  width: 30%;
  font-size: inherit;
  padding: 0.5rem;
  color: var(--text-primary);
  background-color: var(--background-primary);
  border: 1px solid var(--border-primary);
  border-radius: 10px;
  box-shadow: inset 0 15px 15px var(--border-glow);
  cursor: pointer;
}

.btn-price:hover {
  font-weight: 600;
  border-radius: 10px;
}

.fa-magnifying-glass{
  margin-right: 0.5rem;
}

.section-show-price {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  padding: 1rem;
}

.text-token-price {
  text-transform: uppercase;
  margin: 0 auto;
}

.text-error {
  color:var(--text-error);
  text-transform: uppercase;
  margin: 1rem auto 0;
}

.text-footer {
  font-style: italic;
  margin:1rem;
}
