{% extends "layout.html.twig" %}

{% block favourites %}
<section class="section-main favourites">
    <section class="section-title">
        <i class="fa-regular fa-star"></i>
        <h2>Favourites</h2>
    </section>

    <section class="list-favourites">
        <ul>
            {% for fav in favourites %}
                <li>{{ fav }}</li>
            {% endfor %}
        </ul>
    </section>
</section>
{% endblock %}