<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Crypto Currencies</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<header>
    {% if is_logged_in %}
    <section class="section-logout">
        <p>Logged in with {{ user }}</p>
        <a class="btn-logout" href="/logout">Logout</a>
    </section>
    {% else %}    
    <section class="section-login">
        <a class="btn-login" href="/login">Login</a>
    </section>
    {% endif %}

    <section class="header-page">
        <h1>Currency Tokens</h1>
    </section>
</header>

<main>
{% if is_logged_in %}
<section class="section-main favourites">
    <section class="section-title">
        <i class="fa-regular fa-star"></i>
        <h2>Favourites</h2>
    </section>

    <section class="list-favourites">
        <ul>
            {% for fav in favourites %}
                <li>{{ fav }}</li>
            {% endfor %}
        </ul>
    </section>
</section>
{% endif %}

<section class="section-main list">
    <section class="section-title">
        <i class="fa-solid fa-list"></i>
        <h2>Tokens</h2>
    </section>
  
    <form action="/show-price" method="get" class="form-select-tokens">
        <label id="dropdown_token_from">from</label>
    <section class="section-select-token">
        <button class="btn btn-favourite" name="btn_from" type="submit" formmethod="post">
            {% block favourite_from%}
            {% endblock %}
        </button>
        <select name="dropdown_token_from" required>
        <option disabled selected value="">Select:</option>
            {% for item in items %}
                <option {% if item == token_from %}selected{% endif %}>{{ item }} {% if item in favourites %}*{% endif %}</option>
            {% endfor %}
        </select>
    </section>

        <label id="dropdown_token_to">to</label>
    <section class="section-select-token">
        <button class="btn btn-favourite" name="btn_to" type="submit" formmethod="post">
            {% block favourite_to%}
            {% endblock %}
        </button>
        <select name="dropdown_token_to" required>
        <option disabled selected value="">Select:</option>
            {% for item in items %}
                <option {% if item == token_to %}selected{% endif %} >{{ item }} {% if item in favourites %}*{% endif %}</option>
            {% endfor %}
        </select>

    </section>
        <button class="btn btn-price" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Show Price</button>
    </form>

    {% block price %}
    {% endblock %}
    {% block error %}
    {% endblock %}
</section>
</main>

<footer>
    <p class="text-footer">Project created in 2024</p>
</footer>
</body>
</html>