<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Crypto Currencies</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<header>
    <h1>Currency Tokens</h1>
</header>

<main>
<section class="section-main favourites">
    {% include 'favourites.html.twig' with {favourites: favourites} %}
</section>    

<section class="section-main list">
    <section class="section-title">
        <i class="fa-solid fa-list"></i>
        <h2>All Tokens: </h2>
    </section>

    <section class="list-tokens">
        <ul>
            {% for item in items %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    </section>
</section>
</main>

<footer>
    <p>Project created in 2024</p>
</footer>
</body>
</html>