<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>List of Currencies</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
<h1>All Currency Tokens</h1>

{% include 'header.html.twig' with {favourites: favourites} %}

<h2>List of All Curreny Tokens: </h2>
        <ul>
        {% for item in items %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
</body>
</html>