{% extends 'layout.html.twig' %}

{% block price %}
{% if price is defined %}
<section class="section-show-price">
    <p class="text-token-price">Current Token value:</p>
    <p class="text-token-price">1 {{ token_from }} = {{ price }} {{ token_to }}</p>
</section>
{% endif %}
{% endblock %}